<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TICKiT</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
</head>
<body>
  <div class="card">
    <div class="top">
        <div class="userDeatils">
            <div class="profileImg">
                <img src="images/afro.jpg" alt="user" class="cover">
            </div>
            <h3>Nikhil Kumar<br><span>Web Designer</span></h3>
        </div>
        <div class="dot">
            <img src="images/.jpg" alt="dot">
        </div>
    </div>
    <div class="imgBg">
        <img src="images/black.jpg" alt="bg" class="cover">
    </div>
    <div class="btns">
        <div class="left">
            <img src="images/drinks.webp" alt="heart" class="heart" onclick="likeButton()">
            <img src="images/jhus.jpg" alt="comment">
            <img src="images/doggie.jpeg" alt="share">
        </div>
        <div class="right">
            <img src="images/pine.jpeg" alt="bookmark">
        </div>
    </div>
    <h4 class="likes">5,489 likes</h4>
    <h4 class="message">
        <b>Nikhil Kumar</b>
        Captain America: Civil War
        <span>#ironman</span>
        <span>#captainamerica</span>
    </h4>
    <h4 class="comments">View all 546 comments</h4>
    <div class="addComments">
        <div class="userImg">
            <img src="images/party.jpg" alt="user" class="cover">
        </div>
        <input type="text" class="text" placeholder="Add a comment...">
    </div>
    <h5 class="postTime">5 hours ago</h5>
</div>
</body>
</html>